# This file is a template managed by Chezmoi, it must be edited with `chezmoi edit`.
# ---------------------------------

{{- if eq .where "work" }}
{{- end }}
{{- if eq .where "home" }}
github.com:
    user: LaurentHrt
    git_protocol: ssh
    users:
        LaurentHrt:
{{- end }}
