#!{{ lookPath "sh" }}

echo "Install packages"

# MACOS ------------------------------
{{ if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

$(brew --prefix)/opt/fzf/install --bin --key-bindings --completion --no-update-rc

# LINUX ------------------------------
{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.idLike "ubuntu debian" -}}

sudo add-apt-repository ppa:appimagelauncher-team/stable

# packages
sudo apt update 
sudo apt install -y {{ range .packages.apts -}} {{ . }} {{ end -}} ;

# starship
curl -sS https://starship.rs/install.sh | sh

# atuin
curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh | bash

# fnm
curl -fsSL https://fnm.vercel.app/install | bash -s -- --skip-shell

# bitwarden-cli
npm install -g @bitwarden/cli

chsh -s $(which zsh)
{{ end -}}
{{ end -}}
