#!{{ lookPath "sh" }}

echo "Install packages"

# MACOS ------------------------------
{{ if eq .chezmoi.os "darwin" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .commonpackages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .commonpackages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .commonpackages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{- if eq .where "home" }}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .personalpackages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .personalpackages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .personalpackages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{- end }}

{{- if eq .where "work" }}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .workpackages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .workpackages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .workpackages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{- end }}

$(brew --prefix)/opt/fzf/install --bin --key-bindings --completion --no-update-rc
{{- end }}

# LINUX ------------------------------
{{ if eq .chezmoi.os "linux" -}}
{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") -}}

# need to install this before everything else
sudo apt update
sudo apt install -y {{ range .commonpackages.aptsUtils -}} {{ . }} {{ end -}} ;
sudo install -m 0755 -d /etc/apt/keyrings

# Docker
sudo rm -f /etc/apt/keyrings/docker.asc
sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
sudo chmod a+r /etc/apt/keyrings/docker.asc
echo \
  "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
  $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
  sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

# eza
sudo rm -f /etc/apt/keyrings/gierens.gpg
wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list

# packages
sudo apt update
sudo apt install -y {{ range .commonpackages.apts -}} {{ . }} {{ end -}} ;

{{- if eq .where "home" }}
sudo apt install -y {{ range .personalpackages.apts -}} {{ . }} {{ end -}} ;
{{- end }}

{{- if eq .where "work" }}
sudo apt install -y {{ range .workpackages.apts -}} {{ . }} {{ end -}} ;
{{- end }}

# starship
if type starship > /dev/null; then
  echo 'info: starship is already installed'
else
  curl -sS https://starship.rs/install.sh | sh -s -- -y
fi

# atuin
if type atuin > /dev/null; then
  echo 'info: atuin is already installed'
else
  curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh | bash
fi

# fnm
if type fnm > /dev/null; then
  echo 'info: fnm is already installed'
else
  curl -fsSL https://fnm.vercel.app/install | bash -s -- --install-dir "$HOME/.local/bin" --skip-shell
fi

# neovim
sudo snap install nvim --classic

# lazydocker
if type lazydocker > /dev/null; then
  echo 'info: lazydocker is already installed'
else
  curl https://raw.githubusercontent.com/jesseduffield/lazydocker/master/scripts/install_update_linux.sh | bash
fi

# lazygit
if type lazygit > /dev/null; then
  echo 'info: lazygit is already installed'
else
  LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
  curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
  tar xf lazygit.tar.gz lazygit
  sudo install lazygit /usr/local/bin
fi

# Docker postinstall
sudo groupadd docker
sudo usermod -aG docker $USER
newgrp docker

if type zsh > /dev/null; then
  chsh -s $(which zsh)
else
  echo 'info: zsh is not installed'
fi

{{ end -}}
{{ end }}
