#!{{ lookPath "sh" }}

echo "Install packages"

# MACOS ------------------------------
{{ if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .commonpackages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .commonpackages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .commonpackages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{- if eq .where "home" }}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .personalpackages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .personalpackages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .personalpackages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{- end }}

{{- if eq .where "work" }}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .workpackages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .workpackages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .workpackages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{- end }}

$(brew --prefix)/opt/fzf/install --bin --key-bindings --completion --no-update-rc

# LINUX ------------------------------
{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.idLike "ubuntu debian" -}}

# packages
sudo add-apt-repository {{ range .commonpackages.apts -}} {{ . }} {{ end -}}
sudo apt update 
sudo apt install -y {{ range .commonpackages.apts -}} {{ . }} {{ end -}} ;

{{- if eq .where "home" }}
sudo apt update 
sudo apt install -y {{ range .personalpackages.apts -}} {{ . }} {{ end -}} ;
{{- end }}

{{- if eq .where "work" }}
sudo apt update 
sudo apt install -y {{ range .workpackages.apts -}} {{ . }} {{ end -}} ;
{{- end }}

# starship
curl -sS https://starship.rs/install.sh | sh

# atuin
curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh | bash

# fnm
curl -fsSL https://fnm.vercel.app/install | bash -s -- --skip-shell

# bitwarden-cli
npm install -g @bitwarden/cli

chsh -s $(which zsh)
{{ end -}}
{{ end -}}
