{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") }}
[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/LaurentHrt/nvim.git"
    exact = true
    stripComponents = 1
[".config/nvim-lazy"]
    type = "git-repo"
    url = "https://github.com/LaurentHrt/nvim-lazy.git"
    exact = true
    stripComponents = 1
{{ end }}