# This file is a template managed by Chezmoi, it must be edited with `chezmoi edit`.
# ---------------------------------

# For startup profiling (uncomment then launch the command `zprof` to start profiling)
# zmodload zsh/zprof

aliasDirectory="$HOME/.config/aliases"
if [[ -d "$aliasDirectory" ]]; then
  for file in $aliasDirectory/*.zsh; do
    if [[ -f $file ]]; then
      source $file
    fi
  done
fi

export EDITOR=nvim
export VISUAL=nvim

# Always open a tmux session only when not already in tmux and when not in other program (vscode or webstorm)
if [[ "$TERM" != "screen-256color" && "$TERM" != "tmux-256color" && "$TERM" != "tmux" && "$TERM" != "screen" ]]; then
  if [[ "$TERM_PROGRAM" != "vscode" ]]; then
    if type tmux > /dev/null; then
      tmux attach-session -t "$USER" || tmux new-session -s "$USER"
    fi
  fi
fi

# highlight tab suggestions 
{{- if eq .chezmoi.os "darwin" }}
zstyle ':completion:*' menu select
if type brew &>/dev/null; then
  zstyle ':completion:*:*:git:*' script $(brew --prefix)/etc/bash_completion.d/git-completion.bash
  FPATH=$(brew --prefix)/share/zsh-completions:$FPATH
fi
{{- else }}
fpath=(/usr/local/share/zsh-completions $fpath)
{{- end }}
autoload -Uz compinit
{{- if eq .chezmoi.os "darwin" }}
if [ $(date +'%j') != $(stat -f '%Sm' -t '%j' ~/.zcompdump) ]; then
  compinit
else
  compinit -C
fi
{{- end }}
zmodload -i zsh/complist

{{ if eq .where "work" }}
  {{- if eq .chezmoi.os "darwin" }}
    if type brew &>/dev/null
    then
      # Setup Google Cloud sdk
      source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc"
      source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc"
    fi

    # using podman for docker commands
    # export DOCKER_HOST='unix:///Users/laurenthirthouidou/.local/share/containers/podman/machine/qemu/podman.sock'
    export DOCKER_HOST=unix:///var/run/docker.sock
  {{- end }}
{{- end }}

{{ if eq .chezmoi.os "darwin" }}
  if type brew &>/dev/null
  then
    # Setup FPATH
    FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

    source "$(brew --prefix)/opt/zsh-vi-mode/share/zsh-vi-mode/zsh-vi-mode.plugin.zsh"
    source "$(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh"
    source "$(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh" 
    source "$(brew --prefix)/opt/fzf/shell/completion.zsh"
  fi
  export PATH="$PATH:$HOME/Library/Python/3.9/bin"
  export PATH="$HOME/.docker/bin:$PATH"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
  export PATH="$HOME/bin:/snap/bin:$HOME/.local/bin:/opt/nvim-linux64/bin:$PATH"

  {{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") -}}
  source $HOME/.atuin/bin/env 
  source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
  source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
  {{ end }}

  {{ if or  (eq .chezmoi.osRelease.id "arch") -}}
  source /usr/share/zsh/plugins/zsh-vi-mode/zsh-vi-mode.plugin.zsh
  source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
  source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
  {{ end }}
{{- end }}

# Setup fnm
if type fnm > /dev/null; then
  eval "$(fnm env --use-on-cd)"
else
  echo 'info: fnm is not installed'
fi

# starship
if type starship > /dev/null; then
  eval "$(starship init zsh)"
else
  echo 'info: starship is not installed'
fi

# ATUIN (must be after set vi mode)
if type atuin > /dev/null; then
  export ATUIN_NOBIND="true"
  eval "$(atuin init zsh)"
  bindkey '^r' _atuin_search_widget
  function zvm_after_init() {
     zvm_bindkey viins '^R' _atuin_search_widget
  }
else
  echo 'info: atuin is not installed'
fi

