#!{{ lookPath "sh" }}

# MACOS ------------------------------
{{ if eq .chezmoi.os "darwin" -}}

export HOMEBREW_INSTALL_FROM_API=1
alias brew=/opt/homebrew/bin/brew
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

# LINUX ------------------------------
{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "debian" -}}
sudo apt update && sudo apt install -y {{ range .packages.apts -}} {{ . }} {{ end -}} ;
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
curl -sS https://starship.rs/install.sh | sh
curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash
bash <(curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh)

{{ end -}}
{{ end -}}
