#!{{ lookPath "sh" }}

echo "Install packages"

# need to install this before everything else
sudo pacman --noconfirm -Syu
sudo pacman --noconfirm --needed -S {{ range .commonpackages.pacmanUtils -}} {{ . }} {{ end -}} ;

# yay installation
echo 'Installing yay...'
if type yay > /dev/null; then
  echo 'yay is already installed'
else
  rm -rf yay
  git clone https://aur.archlinux.org/yay.git && cd yay && makepkg -si --noconfirm
  rm -rf yay
fi

# packages
sudo pacman --noconfirm --needed -S {{ range .commonpackages.pacman -}} {{ . }} {{ end -}} ;
yay --needed --noconfirm --answerclean=None --answerdiff=None -S {{ range .commonpackages.yay -}} {{ . }} {{ end -}} ;

{{- if eq .GUI "yes" }}
sudo pacman --noconfirm --needed -S {{ range .commonpackages.pacmanGUI -}} {{ . }} {{ end -}} ;
yay --needed --noconfirm --answerclean=None --answerdiff=None -S {{ range .commonpackages.yayGUI -}} {{ . }} {{ end -}} ;
{{- end }}

{{- if eq .where "home" }}
sudo pacman --noconfirm --needed -S {{ range .personalpackages.pacman -}} {{ . }} {{ end -}} ;
{{- end }}

{{- if eq .where "work" }}
sudo pacman --noconfirm --needed -S {{ range .workpackages.pacman -}} {{ . }} {{ end -}} ;
{{- end }}

