# This file is a template managed by Chezmoi, it must be edited with `chezmoi edit`.
# ---------------------------------

[data]
{{- $choices := list "home" "work" -}}
{{ $hosttype := promptChoice "What type of host are you on" $choices "home" }}
where = {{ $hosttype | quote }} 

{{- $choices := list "yes" "no" -}}
{{- $bwActivated := promptChoice "Do you want to install sensitive data from bitwarden ? (the env variable BW_SESSION must be set before running `chezmoi apply`)" $choices "no" }}
bwActivated = {{ $bwActivated | quote }} 

{{- if eq .chezmoi.os "linux" }}
{{- $choices := list "yes" "no" -}}
{{- $GUI := promptChoice "Do you want to install GUI apps ?" $choices "no" }}
GUI = {{ $GUI | quote }} 
{{- end }}

{{- if eq .chezmoi.os "windows" }}
{{- $choices := list "1" "2" -}}
{{- $wsl_version := promptChoice "Which version of wsl do you want to use (choose 1 if you are in a VM) ?" $choices "2" }}
wsl_version = {{ $wsl_version }} 
{{- end }}

{{- if eq .chezmoi.arch "arm64" }}
nvimrelease = "nvim-linux-arm64"
{{ else }}
nvimrelease = "nvim-linux-x86_64"
{{- end }}

[git]
autoCommit = true

