#!{{ lookPath "sh" }}

if type mise >/dev/null; then
  if ! mise install; then
    echo "warn: mise install failed (maybe GitHub rate limit?), continuing..."
  fi
else
  echo 'info: mise is not installed, skip'
fi
