[tools]
atuin = "latest"
bat = "latest"
bitwarden = "latest"
chezmoi = "latest"
delta = "latest"
fd = "latest"
fzf = "latest"
github-cli = "latest"
jq = "latest"
jqp = "latest"
k9s = "latest"
lazydocker = "latest"
lazygit = "latest"
lazyjournal = "latest"
neovim = "latest"
node = "latest"
npm = "latest"
ripgrep = "latest"
rust = "latest"
starship = "latest"
tmux = "latest"
viddy = "latest"
yq = "latest"
