; This file is a template managed by Chezmoi, it must be edited with `chezmoi edit`.
; ---------------------------------

{{- if eq .where "home" }}
[include]
	path = ~/.config/git/config-personal
{{- end }}

{{- if eq .where "work" }}
[includeIf "gitdir:~/workspace/personal/"]
	path = ~/.config/git/config-personal
[includeIf "gitdir:~/.config/nvim/"]
	path = ~/.config/git/config-personal
[includeIf "gitdir:~/.local/share/chezmoi/"]
	path = ~/.config/git/config-personal
[includeIf "gitdir:~/workspace/sidel/"]
	path = ~/.config/git/config-sidel
[includeIf "gitdir:~/workspace/ouidou/"]
	path = ~/.config/git/config-ouidou
{{- end }}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -12
	lgall = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	bb = !~/.config/git/better-git-branch.sh
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
	# pager = less -FX
	pager = delta 
	editor = nvim
	ignoreCase = false
[status]
	branch = true ; Show branch informations with --short
	showStash = true
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	side-by-side = true
	features = decorations
	# tokyoNightStorm theme
	minus-style                   = syntax "#3f2d3d"
	minus-non-emph-style          = syntax "#3f2d3d"
	minus-emph-style              = syntax "#763842"
	minus-empty-line-marker-style = syntax "#3f2d3d"
	line-numbers-minus-style      = "#b2555b"
	plus-style                    = syntax "#283b4d"
	plus-non-emph-style           = syntax "#283b4d"
	plus-emph-style               = syntax "#316172"
	plus-empty-line-marker-style  = syntax "#283b4d"
	line-numbers-plus-style       = "#266d6a"
	line-numbers-zero-style       = "#3b4261"	
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
