# This file is a template managed by Chezmoi, it must be edited with `chezmoi edit`.
# ---------------------------------

# Override theme
set-option -sa terminal-overrides ",xterm*:Tc"

# Escape time to match neovim 
set-option -sg escape-time 50

# Increase scrollback buffer size from 2000 to 50000 lines
set -g history-limit 50000

# set focus event
set-option -g focus-event on

# use zsh by default 
set -g default-shell /bin/zsh

# Easy config reload
bind-key r source-file ~/.config/tmux/tmux.conf \; display-message "tmux.conf reloaded."

# Set Ctrl a for prefix key instead of Ctrl b
set-option -g prefix C-a

# Start windows and panes at 1, not 0
set -g base-index 1
set -g pane-base-index 1
set-window-option -g pane-base-index 1
set-option -g renumber-windows on

# List of plugins
source ~/.config/tmux/plugins/vim-tmux-navigator.conf
source ~/.config/tmux/plugins/minimal-tmux-status.conf

# forget the find window.  That is for chumps
bind-key -r f run-shell "tmux neww ~/.config/tmux/custom-scripts/tmux-sessionizer.sh"
bind-key -r H run-shell "~/.config/tmux/custom-scripts/tmux-sessionizer.sh ~/"

# shortcut 
bind-key -r U run-shell "~/.config/tmux/custom-scripts/tmux-sessionizer.sh ~/workspace/notes"

{{- if eq .where "home" }}
# shortcut for personal projects
# Exemple: bind-key -r J run-shell "~/.config/tmux/custom-scripts/tmux-sessionizer.sh ~/workspace/personal/myproject"
{{- end }}

{{- if eq .where "work" }}
# shortcut for work projects
bind-key -r J run-shell "~/.config/tmux/custom-scripts/tmux-sessionizer.sh ~/workspace/personal/ouidou/presence-react"
bind-key -r K run-shell "~/.config/tmux/custom-scripts/tmux-sessionizer.sh ~/workspace/personal/ouidou/presence-laravel-react"
{{- end }}

# Open split panes in cwd and change " and % to - and |
bind - split-window -v -c "#{pane_current_path}"
bind | split-window -h -c "#{pane_current_path}"

# Pane resizing panes with Prefix + ctrl h,j,k,l 
bind -r C-h resize-pane -L 5
bind -r C-j resize-pane -D 5
bind -r C-k resize-pane -U 5
bind -r C-l resize-pane -R 5

# set mouse mode
set -g mouse on

# set key binding for copy mode
setw -g mode-keys vi
unbind -T copy-mode-vi Enter
bind -T copy-mode-vi v send-keys -X begin-selection

# Add support for get content into clipboard
{{- if eq .chezmoi.os "darwin" }}
# macOS only
bind -T copy-mode-vi y send-keys -X copy-selection 'pbcopy'
bind-key -T copy-mode-vi Enter send-keys -X copy-selection "pbcopy"
bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "pbcopy"
{{- end }}

# custom key bindings
bind-key / command-prompt "split-window -h -l 100 'exec man %%'"
bind-key b set-option status
bind-key y set-window-option synchronize-panes\; display-message "synchronize mode toggled."

# status bar session name length
set -g status-left-length 30
