#!{{ lookPath "sh" }}

# zsh by default
echo 'Setting zsh as default shell'
if type zsh >/dev/null; then
  if [ -n "$($SHELL -c 'echo $ZSH_VERSION')" ]; then
    echo 'Zsh is already the default shell'
  else
    chsh -s $(which zsh)
  fi
else
  echo 'info: zsh is not installed'
fi
