#!{{ lookPath "sh" }}

# DEBIAN ------------------------------
{{ if eq .chezmoi.os "linux" -}}
{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") -}}

echo "Remove packages"

BLOATWARE_PACKAGES="
aisleriot 
brltty 
duplicity 
empathy 
empathy-common 
example-content 
gnome-accessibility-themes 
gnome-contacts 
gnome-mahjongg 
gnome-mines 
gnome-orca 
gnome-screensaver 
gnome-sudoku 
gnome-video-effects 
landscape-common 
libreoffice-avmedia-backend-gstreamer 
libreoffice-base-core 
libreoffice-calc 
libreoffice-common 
libreoffice-core 
libreoffice-draw 
libreoffice-gnome 
libreoffice-gtk 
libreoffice-impress 
libreoffice-math 
libreoffice-ogltrans 
libreoffice-pdfimport 
libreoffice-style-galaxy 
libreoffice-style-human 
libreoffice-writer 
libsane 
libsane-common 
python3-uno 
rhythmbox 
rhythmbox-plugins 
rhythmbox-plugin-zeitgeist 
sane-utils 
shotwell 
shotwell-common 
telepathy-gabble 
telepathy-haze 
telepathy-idle 
telepathy-indicator 
telepathy-logger 
telepathy-mission-control-5 
telepathy-salut 
totem 
totem-common 
totem-plugins 
printer-driver-brlaser 
printer-driver-foo2zjs 
printer-driver-foo2zjs-common 
printer-driver-m2300w 
printer-driver-ptouch 
printer-driver-splix
thunderbird
transmission-gtk
simple-scan
cheese
gnome-weather
gnome-maps
gnome-photos
gnome-calendar
gnome-nibbles
gnome-robots
evolution
remmina
hexchat
pidgin
geary
deja-dup
gnome-music
firefox-esr
gnome-2048
gnome-chess
gnome-mimeapps
gnome-klotski
five-or-more
four-in-a-row
hitori
aisleriot
quadrapassel
lightsoff
iagno 
gnome-taquin 
gnome-tetravex 
lightsoff 
tali
"

# Get the list of all installed packages
INSTALLED_PACKAGES=$(apt list --installed 2>/dev/null | awk -F/ '{print $1}')

# Filter the installed packages to find the ones that are also in the bloatware list
BLOATWARE_INSTALLED=""
for package in $BLOATWARE_PACKAGES; do
    if echo "$INSTALLED_PACKAGES" | grep -q "^$package$"; then
        BLOATWARE_INSTALLED="$BLOATWARE_INSTALLED $package"
    fi
done

# Purge the bloatware packages
if [ -n "$BLOATWARE_INSTALLED" ]; then
    for package in $BLOATWARE_INSTALLED; do
        sudo apt-get purge -qqy $package
    done
fi

sudo apt-get auto-remove -qqy

{{ end -}}
{{ end }}
