{{- if eq .bwActivated "yes" -}}
{
	"cliLastUpdateCheck": 1708717642455,
	"authToken": {{ (bitwardenFields "item" "sanity").token.value | quote }},
	"authType": "normal",
	"cliLastUpdateNag": 1697813878125,
	"cliHasUpdate": "3.30.0"
}
{{- end -}}
