#!{{ lookPath "sh" }}

# Atuin login
{{ if eq .bwActivated "yes" }}
if type atuin > /dev/null; then
  echo "Atuin syncing..."
  atuin login -u {{ (bitwarden "item" "atuin").login.username | quote }} -p {{ (bitwarden "item" "atuin").login.password | quote }} -k {{ (bitwardenFields "item" "atuin").key.value | quote }} 2>/dev/null
  atuin sync -f
else
  echo 'info: atuin is not installed, login skipped'
fi
{{ end }}

# create directory
if [ ! -d ~/workspace ]; then
  echo "Create workspace directory"
  mkdir -p ~/workspace
fi
